html{
  font-family: "Microsoft YaHei";
  font-size: 14px;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
fieldset,
button,
input,
textarea,
th,
td{
  margin: 0;
  padding: 0;
}
input{border:0;outline:none;}
ul,
li,
ol
{
    list-style:none;
}
a{
    text-decoration:none;
}
img{
    border: 0;
}