@font-face{
  font-family: "FILXGIRL";
  src: url("./FILXGIRL.TTF");
}
@font-face{
  font-family: "AGARAMONDPRO-REGULAR";
  src: url("./AGARAMONDPRO-REGULAR.OTF");
}
@font-face{
  font-family: "FZXKJW";
  src: url("./FZXKJW.TTF");
}